<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Dados de Cinéfilo</title>
</head>
<body>

	<h1>Dados do Cinefilo</h1>
	
	<p th:text="'Nome: ' + ${cinefilo.nome}"></p>
<p th:text="'Sexo: ' + ${cinefilo.sexo}"></p>
<p th:text="'Telefone: ' + ${cinefilo.telefone}"></p>
<p th:text="'Generos Preferidos: ' + ${cinefilo.generosPreferidos}"></p>
<p th:text="'Genero Preferido: ' + ${cinefilo.generoPreferido}"></p>
<p th:text="'Biografia: ' + ${cinefilo.biografia}"></p>

</body>
</html>